<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.UnityNative.Sharing">
    <application >
        <provider
            android:name="com.UnityNative.Sharing.UnityNativeSharingFileProvider"
            android:authorities="${applicationId}.UnityNativeSharing.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>
</manifest>